body {
  font-family: "Courier New", Courier, monospace;
  color: blue;
}

h1,
#designed-by {
  text-align: center;
}

.style1 {
  background-color: #cdb4db;
}

.style2 {
  background-color: #ffc8dd;
}

.style3 {
  background-color: #ffafcc;
}

.style4 {
  background-color: #bde0fe;
}

.style5 {
  background-color: #a2d2ff;
}

.style6 {
  background-color: #8ecae6;
}

/* SETTING THE COLOR OF THE BOX TEXT */
.tiles .box-wrapper > a {
  color: white;
}
